.wrapper
{
    background: rgb(204, 204, 204);
}
h1{
    text-align: center;
    background: chocolate;
}
li
{
    display: inline-block;
}
.game{
    width: 350px;
    background: black;
    box-align: center;
    
}

.block
{
    display: inline-block;
    background: cornflowerblue;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(116, 1, 1);
}